<html>
	<head>
		<title>SupperSlonic</title>
		<link href="~/Content/css/main.css" rel="stylesheet" type="text/css" />
		<link href="~/Content/css/helpspot.css" rel="stylesheet" type="text/css" />
        @RenderSection("CSS", false)
        <script type="text/javascript" src="~/Content/js/menu.js"></script>
		<script type="text/javascript" src="~/Content/js/tabWidget.js"></script>
        @RenderSection("Scripts", false)
	</head>
<body onload="javascript:onBodyLoadHandler('@ViewContext.RouteData.Values["controller"]', '@ViewContext.RouteData.Values["action"]');">
	<div id="body-bg">
		<div id="body-wrap">
			<ul id="main-nav">
				<li id="mnHome">@Html.ActionLink("HOME", "Index", "Home")</li>
                <li id="mnWebControls" style="width:170px">@Html.ActionLink("Web Controls", "Index", "WebControls")
                    <div id="mnWebControlsItems" class="submenu">
                        <ul>
                            <li>@Html.ActionLink("Vertical Tabs", "VerticalTabs", "WebControls")</li>
                            <li>@Html.ActionLink("Colors Picker", "ColorPicker", "WebControls")</li>
                            <li>@Html.ActionLink("Weekly Schedule", "WeeklySchedule", "WebControls")</li>
                            <li>@Html.ActionLink("Agile Release Cycle Calendar", "AgileReleaseCycleCalendar", "WebControls")</li>
                        </ul>
                    </div>
                </li>
				<li id="mnAWS" style="width:170px">@Html.ActionLink("Amazon Web Services", "Index", "AWS")
                    <div id="mnAWSItems" class="submenu">
                         <ul>
                            <li>@Html.ActionLink("Elastic MapReduce workflow", "EmrWorklfow", "AWS")</li>
                            <li>@Html.ActionLink("DynamoDB", "DynamoDB", "AWS")</li>
                        </ul>
                    </div>
				</li>
                <li id="mnAbout">@Html.ActionLink("About me", "About", "Home")</li>
			</ul>
			<div id="page">
				<div id="header-logo">@Html.ActionLink("home", "Index", "Home")</div>
				<div id="content">@RenderBody()</div> <!-- page -->
			</div>
		</div> <!-- body-wrap -->
	</div> <!-- body-bg -->
    @Html.Partial("HelpSpotWidget")
</body>
</html>