<html>
	<head>
		<title>SupperSlonic</title>
		<link href="~/Content/css/main.css" rel="stylesheet" type="text/css" />
		<link href="~/Content/css/helpspot.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="~/Content/js/tabWidget.js"></script>
        <script type="text/javascript">
            function setCurrentMenuItem(actionName) {
                document.getElementById(actionName + 'li').className = "selected";
            }
        </script>
	</head>
<body onload="javascript:setCurrentMenuItem('@ViewContext.RouteData.Values["action"]');">
	<div id="body-bg">
		<div id="body-wrap">
			<ul id="main-nav">
				<li id="Indexli">@Html.ActionLink("HOME", "Index", "AWS")</li>
				<li id="AmazonContextli">@Html.ActionLink("Amazon Context", "AmazonContext", "AWS")</li>
				<li id="ElasticMapReduceli">@Html.ActionLink("Elastic Map Reduce", "ElasticMapReduce", "AWS")</li>
				<li id="DynamoDBli">@Html.ActionLink("Dynamo DB", "DynamoDB", "AWS")</li>
                <li id="Aboutli">@Html.ActionLink("About me", "About", "AWS")</li>
			</ul>
			<div id="page">
				<div id="header-logo">@Html.ActionLink("home", "Index", "AWS")</div>
				<div id="content">@RenderBody()</div> <!-- page -->
			</div>
		</div> <!-- body-wrap -->
	</div> <!-- body-bg -->
    @Html.Partial("HelpSpotWidget")
</body>
</html>