<html>
	<head>
		<title>SupperSlonic</title>
		<link href="~/Content/css/main.css" rel="stylesheet" type="text/css" />
		<link href="~/Content/css/helpspot.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="~/Content/js/tabWidget.js"></script>
        <script type="text/javascript">
            function setCurrentMenuItem(controllerName) {
                document.getElementById(controllerName + "li").className = "selected";
            }
        </script>
	</head>
<body onload="javascript:setCurrentMenuItem('@Html.Raw(ViewContext.RouteData.Values["action"].ToString() == "About" ? "About" : ViewContext.RouteData.Values["controller"])');">
	<div id="body-bg">
		<div id="body-wrap">
			<ul id="main-nav">
				<li id="Homeli">@Html.ActionLink("HOME", "Index", "Home")</li>
                <li id="WebDevli">@Html.ActionLink("Web Development", "Index", "WebDev")</li>
				<li id="AWSli">@Html.ActionLink("Amazon Web Services", "Index", "AWS")</li>
                <li id="Aboutli">@Html.ActionLink("About me", "About", "Home")</li>
			</ul>
			<div id="page">
				<div id="header-logo">@Html.ActionLink("home", "Index", "Home")</div>
				<div id="content">@RenderBody()</div> <!-- page -->
			</div>
		</div> <!-- body-wrap -->
	</div> <!-- body-bg -->
    @Html.Partial("HelpSpotWidget")
</body>
</html>