<html>
	<head>
		<title>SupperSlonic</title>
		<link href="~/Content/css/main.css" rel="stylesheet" type="text/css" />
		<link href="~/Content/css/helpspot.css" rel="stylesheet" type="text/css" />
        @RenderSection("CSS", false)
		<script type="text/javascript" src="~/Content/js/tabWidget.js"></script>
        <script type="text/javascript">
            var menuItems = ['mnWebControls', 'mnAWS'];
            function onLoadHandler(controllerName, actionName)
            {
                //Set current menu tab
                if (actionName == "About")
                    controllerName = "About";

                var currentMenuItem = document.getElementById("mn" + controllerName);
                if(currentMenuItem != null)
                    currentMenuItem.className = "selected";

                //Bind onmouse events
                var menuItem = document.getElementById("mnWebControls");
                if ("ontouchstart" in window || "ontouch" in window)
                {
                    for(var c = 0; c < menuItems.length; c++)
                        bindIOSEvents(document.getElementById(menuItems[c]));
                }
                else
                {
                    for (var c = 0; c < menuItems.length; c++)
                        bindClassicEvents(document.getElementById(menuItems[c]));
                }
                
            }
            function bindIOSEvents(menuItem)
            {
                menuItem.ontouchstart = function () { showSubMenu(this.id); };
                menuItem.touchcancel = function () { hideSubMenu(this.id); };
            }
            function bindClassicEvents(menuItem)
            {
                menuItem.onmouseover = function () { showSubMenu(this.id); };
                menuItem.onmouseout = function () { hideSubMenu(this.id); };
            }
            function showSubMenu(menuId)
            {
                document.getElementById(menuId + "Items").style.display = "block";
            }
            function hideSubMenu(menuId) {
                document.getElementById(menuId + "Items").style.display = "none";
            }
        </script>
        @RenderSection("Scripts", false)
	</head>
<body onload="javascript:onLoadHandler('@ViewContext.RouteData.Values["controller"]', '@ViewContext.RouteData.Values["action"]');">
	<div id="body-bg">
		<div id="body-wrap">
			<ul id="main-nav">
				<li id="mnHome">@Html.ActionLink("HOME", "Index", "Home")</li>
                <li id="mnWebControls" style="width:170px">@Html.ActionLink("Web Controls", "Index", "WebControls")
                    <div id="mnWebControlsItems" class="submenu">
                        <ul>
                            <li>@Html.ActionLink("Vertical Tabs", "VerticalTabs", "WebControls")</li>
                            <li>@Html.ActionLink("Colors Picker", "ColorPicker", "WebControls")</li>
                            <li>@Html.ActionLink("Weekly Schedule", "WeeklySchedule", "WebControls")</li>
                            <li>@Html.ActionLink("Agile Release Cycle Calendar", "AgileReleaseCycleCalendar", "WebControls")</li>
                        </ul>
                    </div>
                </li>
				<li id="mnAWS">@Html.ActionLink("Amazon Web Services", "Index", "AWS")
                    <div id="mnAWSItems" class="submenu">
                         <ul>
                            <li>@Html.ActionLink("EMR workflow", "EmrWorklfow", "AWS")</li>
                            <li>@Html.ActionLink("DynamoDB", "DynamoDB", "AWS")</li>
                        </ul>
                    </div>
				</li>
                <li id="mnAbout">@Html.ActionLink("About me", "About", "Home")</li>
			</ul>
			<div id="page">
				<div id="header-logo">@Html.ActionLink("home", "Index", "Home")</div>
				<div id="content">@RenderBody()</div> <!-- page -->
			</div>
		</div> <!-- body-wrap -->
	</div> <!-- body-bg -->
    @Html.Partial("HelpSpotWidget")
</body>
</html>